*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
html,body {
    -webkit-user-select: none;
    height: 100%;
    background:#000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: .14rem;
    overflow: hidden;
    }
html{
    -webkit-text-size-adjust: none;
    /*font-size: 100px*/
}
ul{list-style: none}
.swiper-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background:#EEEEEF;
}
.p1{
    width: 100%;
    height: 100%;
}
.p1 .whirl{
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -1.5rem;
    width: 3rem;
    height:3rem;
}
 .p1 .whirl img{
     width: 100%;
     height: 100%;
 }

#p1 .whirl img{
    animation: meRotate 2s linear infinite;
    -webkit-animation: meRotate 2s linear infinite;
}
 @keyframes meRotate {
     0%{
         -webkit-transform: rotateZ(0deg);
     }
     100%{
         -webkit-transform: rotateZ(360deg);
     }
 }
 .p1 .whirl .photo{
     position: absolute;
     top:14%;
     left: 50%;
     margin-left:-1.1rem;
     border: .1rem solid #ffff00;
     border-radius: 50%;
     width: 2rem;
     height: 2rem;
     background: url("images/me.jpg")no-repeat center;
     background-size: 2rem 2rem;
 }
 .p1 .intro{
     position: absolute;
     top: 65%;
     left: 26%;
     font-size: 18px;
     color: #676767;
     font-weight: bold;
     text-align: center;
 }
 .p1 .intro .name{
     margin-bottom: .2rem;
     opacity: 0;
 }
 #p1 .intro .name{
     animation: zoomIn 2s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
 }
 .p1 .intro .position{
     opacity: 0;
     -webkit-transform: translate3d(-100%, 0, 0);
     transform: translate3d(-100%, 0, 0);
 }
 #p1 .intro .position{
     animation: slideInLeft 2s;
     animation-delay: 2s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
 }

 .p1 .intro .dash{
     opacity: 0;
     margin-top: 0rem;
     border-top: .02rem solid #424242;
     -webkit-transform: translate3d(100%, 0, 0);
     transform: translate3d(100%, 0, 0);
 }
#p1 .intro .dash{
    animation: slideInRight 2s;
    -webkit-animation: slideInRight 2s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 .p1 .intro span{
     font-size: .24rem;
 }
 /*name animation*/
 @keyframes zoomIn {
     from {
         opacity: 0;
         -webkit-transform: scale3d(.3, .3, .3);
         transform: scale3d(.3, .3, .3);
     }
     100% {
         opacity: 1;
     }
 }
 /*position animation*/
 @-webkit-keyframes slideInLeft {
     from {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
         visibility: visible;
     }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
     }
 }
 @keyframes slideInLeft {
     from {
         opacity: 0;
         -webkit-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
         visibility: visible;
     }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
     }
 }
 @-webkit-keyframes slideInRight {
     from {
         opacity: 0;
         -webkit-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
         visibility: visible;
     }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
     }
 }
 @keyframes slideInRight {
     from {
         opacity: 0;
         -webkit-transform: translate3d(100%,0, 0);
         transform: translate3d(100%, 0, 0);
         visibility: visible;
     }
     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
     }
 }

.p2 .skill{
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -1.1rem;
    margin-top: -1.1rem;
    border: .1rem solid #FFFFFF;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    background: #FFCE55;
    transform: rotateZ(45deg);
    -webkit-transform:rotateZ(45deg) ;
}
.p2 .skill span{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2rem;
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
}
.p2 .skill1,.p2 .skill2,.p2 .skill3,.p2 .skill4{
    position: absolute;
    width: 2.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: .4rem;
    font-size: .32rem;
    font-weight: 600;
    color: #FFFFFF;
}
/*#p2{transform-style: preserve-3d}*/
#p2 .skill1,#p2 .skill2,#p2 .skill3,#p2 .skill4{
    -webkit-animation: skillMove 1s;
    animation: skillMove 1s;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
}
#p2 .skill2{transform-style: preserve-3d;
    animation-delay: .4s;
 }
#p2 .skill3{
    animation-delay: .8s;
}
#p2 .skill4{
    animation-delay: 1.2s;
}
@keyframes skillMove {
    0%{
        transform: rotateY(0deg);
    }
    45%{
        transform:translateZ(1.2rem) rotateY(145deg);
    }
    90%{
        transform:translateZ(1.5rem) rotateY(360deg);
    }
}
@-webkit-keyframes skillMove {
    0%{
        -webkit-transform: rotateY(0deg) ;
    }
    45%{
        transform:translateZ(1.2rem) rotateY(145deg);
    }
    90%{
        -webkit-transform:translateZ(1.5rem) rotateY(360deg) ;
    }
}
.p2 .skill1{
    top: 12%;
    left: 7%;
    background: #ED5564;
}
.p2 .skill2{
    top: 12%;
    left: 55%;
    background: #A0D468;
}
.p2 .skill3{
    top: 50%;
    left: 7%;
    background: #AC92ED;
}
.p2 .skill4{
    top: 50%;
    left: 55%;
    background: #50C1E9;
}
.p3 .me{
    position: absolute;
    top: 10%;
    left: 5%;
}
.p3 .aboutme{
    position: absolute;
    top: .5rem;
    float: left;
    border-radius: 5px;
    padding: 5px;
    width: .5rem;
    height: 3rem;
    line-height: 1rem;
    text-align: center;
    font-size:.32rem;
    font-weight: bold;
    color: #FFFFFF;
    background: #ff5500;
}
.p3 ul{
    position: absolute;
    left: .8rem;
}
.p3 ul li{
    margin-top: .04rem;
    padding-left:.05rem;
    height: 1rem;
    width: 5rem;
    font-size: .24rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1rem;
}
#p3 ul li{
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation: flipInX 2s;
    animation: flipInX 2s;
}
.p3 .fav{
    position: absolute;
    bottom: 5%;
    left: 25%;
}
.p3 p{
    position: absolute;
    top:-35%;
    left: -38%;
    padding-left: .5rem;
    width: 2rem;
    height: .6rem;
    line-height: .6rem;
    border-radius: 5px;
    font-size: .32rem;
    letter-spacing: .05rem;
    color: #FFFFFF;
    font-weight: bold;
    background: #ff5500;
}
.p3 .fav div{
    position: relative;
    bottom: 10%;
    width: 3.5rem;
    height: 3.5rem;
}
#p3 .fav p{
    -webkit-animation: hinge 5s;
    animation:hinge 5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes hinge {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20%, 60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%, 80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
    }
}
@keyframes hinge {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20%, 60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%, 80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
    }
}
#p3 .fav div{
    -webkit-animation: favMove 10s infinite;
    ainimation:favMove 10s infinite;
}
@keyframes favMove {
    0%{
        transform:rotateZ(0deg)
    }
    100%{
        transform:rotateZ(360deg)
    }
}
@-webkit-keyframes favMove {
    0%{
        -webkit-transform:rotateZ(0deg)
    }
    100%{
        -webkit-transform:rotateZ(360deg)
    }
}
.p3 .book,.p3 .bike,.p3 .football{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
}
.p3 .football{
    bottom: -.2rem;
    left:-.5rem;
}
.p3 .book{
    top: -.2rem;
    left: 1rem;
 }
.p3 .bike{
    bottom: -.2rem;
    right:-.5rem;
}

@-webkit-keyframes flipInX {
    from {
        -webkit-transform: perspective(4rem) rotate3d(1, 0, 0, 90deg);
        transform: perspective(4rem) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(4rem) rotate3d(1, 0, 0, -20deg);
        transform: perspective(4rem) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(4rem) rotate3d(1, 0, 0, 10deg);
        transform: perspective(4rem) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(4rem) rotate3d(1, 0, 0, -5deg);
        transform: perspective(4rem) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(4rem);
        transform: perspective(4rem);
    }
}

@keyframes flipInX {
    from {
        -webkit-transform: perspective(4rem) rotate3d(1, 0, 0, 90deg);
        transform: perspective(4rem) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(4rem) rotate3d(1, 0, 0, -20deg);
        transform: perspective(4rem) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(4rem) rotate3d(1, 0, 0, 10deg);
        transform: perspective(4rem) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(4rem) rotate3d(1, 0, 0, -5deg);
        transform: perspective(4rem) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(4rem);
        transform: perspective(4rem);
    }
}

.flipInX {

}
.p3 .myname{
    background: #F1B546;
}
.p3 .sex{
    background: #9EE25B;
}
.p3 .place{
    background: #53DEE8;
}
.p3 .school{
    background: #D05DCB;
}
.p4{
    position: relative;
    font-size: .2rem;
    color: #676767;
}
.p4 div{opacity: 0;}
.p4 .exp3{
    position:absolute;
    left: .5rem;
    bottom: 1rem;
}
#p4 .exp2{
    animation-delay:1s ;
    -webkit-animation-delay: 1s;
}
#p4 .exp1{
    animation-delay:2s ;
    -webkit-animation-delay: 2s;
}
.p4 .exp2{
    position:absolute;
    right: .5rem;
    bottom: 3rem;
}
.p4 .exp2 img{
    float: right;
}
.p4 .exp1{
    position:absolute;
    left: .5rem;
    top: 4rem;
}
.p4 img{
    float: left;
    width: 1rem;
    height: 1.5rem;
}
.p4 p{
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: .32rem;
    font-weight: bold;
}
.p4 ul{
    margin-top: .2rem;
    width: 4.2rem;
    text-align: center;
}
#p4 div{
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.p5{position: relative;}
.p5 dl{
    position: absolute;
    width: 70%;
    height:80%;
    top:1.5rem;
    left: 1rem;
    color:#676767
}
.p5 dl dt{
    position: absolute;
    top:-1rem;
    left: -.8rem;
    border-bottom: .08rem solid #FFFFFF;
    line-height: 1.5rem;
    width: 6rem;
    font-size: .32rem;
    font-weight: bold;
}
.p5 .phone,.p5 .qq{
    margin-bottom: .2rem;
    border: .02rem solid #FFFFFF;
    border-radius: .05rem;
    padding-left: .2rem;
    width: 4rem;
    line-height: 1rem;
    font-size: .2rem;
    text-align: center;
}
.p5 .phone{
    position: absolute;
    top:1rem;
}
#p5 .phone{
    animation: swing 1s 6;
    -webkit-animation: swing 1s 6;
}
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.p5 .qq{
    position: absolute;
    top:2.5rem;
}
#p5 .qq{
    -webkit-animation: flash 1s 6;
    animation: flash 1s 6;
}
@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}
.p5 .er{
    position: absolute;
    left: .6rem;
    bottom: 1rem;
    border: .02rem solid #FFFFFF;
    border-radius: .05rem;
    padding: .5rem;
    width: 2rem;
    height: 2rem;
}
.p5 img{
    float: left;
    margin-top: .1rem;
    width: .8rem;
    height: .8rem;
}

.p5 .er img{
    width: 2rem;
    height: 2rem;
}


/*箭头动画*/
.arrow-up{
	background:none;
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index:99;
}
.pt-page-moveIconUp {
	-webkit-animation: moveIconUp ease 1.5s both infinite;
	animation: moveToBottom ease 1.5s both infinite;
}
@-webkit-keyframes moveIconUp {
	0% { -webkit-transform: translateY(100%); opacity:0;}
	50% { -webkit-transform: translateY(0%); opacity:1;}
	100% { -webkit-transform: translateY(-100%); opacity:0;}
}
@keyframes moveIconUp {
	0% { -webkit-transform: translateY(100%); transform: translateY(100%); opacity:0;}
	50% { -webkit-transform: translateY(0%); transform: translateY(0%); opacity:1;}
	100% { -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity:0;}
}
@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
/*音乐按钮动画*/
@-webkit-keyframes moveRo {
    from {-webkit-transform: rotate(360deg);  }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes moveRo {
    from {  transform: rotate(-360deg)}
    to {  transform: rotate(360deg); }
}

/*music*/
.audio {
    z-index: 10;
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("./images/icon-muisc.png") no-repeat;
    background-size: 100% 100%;
}
.audio .audioMp3 {
    display: none;
}
.open{
    -webkit-animation: moveRo linear 3.5s  infinite;
    animation-delay:0s;
}

